html {
  box-sizing: border-box;
}


.mycolumn {
  display: block;
  margin: auto;
  float: left;
  width: 33.3%;
  padding: 10px;
}

@media screen and (max-width: 650px) {
  .mycolumn {
    width: 100%;
    display: inline-block;
  }
}

.mycard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  margin: auto;
  text-align: center;
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.mycolumn h2{
  font-size: 25px;
}